<%=form_for :appoint, url:appointment_index_path do |f|%>
        <div class="date_div_container">
        <%#= "#{date.to_date.strftime("%b %d, %Y") + ' ' + from}"%>
  				<%=f.hidden_field :fromtime, value: from, readonly: true if from.present?%>
  				<%=f.hidden_field :totime, value: to ,readonly: true if to.present? %>
          <%=f.hidden_field :date, value: date ,readonly: true if to.present? %>
          <span><%= "#{date.to_date.strftime("%b %d, %Y")} #{from} - #{to}"%></span>
        </div>
        <div class="field">
          <%= f.label "Your name: *" %><br>
          <%= f.text_field :name, placeholder: "Name" %>
        </div><br>
        <div class="field"> 
          <%= f.label "Your email address: *"%><br>
          <%= f.text_field :email, placeholder: "Email" %>
        </div><br>
        <%= hidden_field_tag :select_day %>
				</div>
  			<div class="modal-footer">
          <%= f.submit "REQUEST APPOINTMENT" , :class => "btn btn-primary pull-left"%>
  				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">CANCEL</button>
				</div>
			<%end%>