<div id='calendar'></div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">REQUEST APPOINTMENT</h4>
			</div>
			<div class="modal-body">

			<%=form_for :appoint, url:appointment_index_path do |f|%>
        <div class="date_div_container">
  				<div id="date" class="date_div"></div>
  				<span><%=f.time_field :fromtime %></span>
          <span> - </span>
  				<span><%=f.time_field :totime %></span>
        </div>
        <div class="field">
          <%= f.label "Your name: *" %><br>
          <%= f.text_field :name, placeholder: "Name" %>
        </div><br>
        <div class="field"> 
          <%= f.label "Your email address: *"%><br>
          <%= f.text_field :email, placeholder: "Email" %>
        </div><br>
        <%= hidden_field_tag :select_day %>
				</div>
  			<div class="modal-footer">
          <%= f.submit "REQUEST APPOINTMENT" , :class => "btn btn-primary pull-left"%>
  				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">CANCEL</button>
				</div>
			<%end%>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
      dayClick: function(date) {
      		//string date=[date.format()];
        $('#date').html(date.format());
        //$('#appoint_fromtime','appoint_totime').html
        var x =  date.format();
         $('#select_day').val(x);	
       // console.log(x);

        //$('#default').html(date.format());
        
        $('#myModal').modal();
    },
       events: '/appointment'
});
  
});
</script>

<!-- $(function(){
    var input = prompt("Please enter a number");
}); -->