<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-12">
				<%= params[:date] if params[:date].present? %>
			</div>
				<% start_time = Time.parse(params[:date] + " 08:00:00")%>
				<% end_time = Time.parse(params[:date] + " 18:00:00")%>
				<% interval_time = @setting.present? ? @setting.interval.to_i : 1 %>

				<table class="col-md-12">
					<% (start_time.to_i..end_time.to_i).step(interval_time.hour) do |time| %>
          <%# from =  DateTime.parse(params[:date] + " " + "8")%>
					<%# to =   DateTime.parse(params[:date]+ " " + "8")%>
						<%from = (Time.at time + time.hour).strftime('%I:%M %P')%>
						<% to = (Time.at time + time.hour + interval_time.hour).strftime('%I:%M %P')  %>
						<tbody class="col-md-10 col-md-offset-1">
						<td class="col-md-2"><%= from %>
							<%= to
							 %></td>
						<td class="col-md-7">
							<input type="text" class="col-md-12" placeholder=" <%= "#{@setting.available}" if @setting.present?  %> Timeslot Available" style="border:none;"></input>
						</td>
						<td class="col-md-3">
							<button type="button" class="col-md-12 btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal<%=time%>">Booked Available</button>
						</td>
						</tbody>
						<div class="modal fade" id="myModal<%=time%>" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Modal Header</h4>
									</div>
									<div class="modal-body">
										<%= render partial: "appointment/form", locals: {from: from, to: to,date: params[:date]}%>
									</div>
								</div>

							</div>
						</div>

					<% end %>
				</table>
		</div>
	</div>
</div>
